:root {
  --font-family: "Inter Variable", sans-serif;
  --font-size: 0.75rem;
  --font-weight: 400;
  --line-height: 1.5;
  --letter-spacing: 0.015em;
  --color: #213547;
  --background-color: #ffffff;
  color-scheme: light dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100svh;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--color);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

#root {
  isolation: isolate;
}
